<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="color8Blue">0</entry>
<entry key="color8Green">0</entry>
<entry key="tachogramMaxinalGapInSeconds">5</entry>
<entry key="color10Green">0</entry>
<entry key="colorOfChannel7Blue">0</entry>
<entry key="color1Green">0</entry>
<entry key="colorOfChannel5Green">255</entry>
<entry key="font3Style">1</entry>
<entry key="color2Blue">0</entry>
<entry key="color11Blue">0</entry>
<entry key="colorOfChannel1Blue">64</entry>
<entry key="color9Green">255</entry>
<entry key="color11Green">128</entry>
<entry key="colorOfChannel0Red">0</entry>
<entry key="font3Name">Arial</entry>
<entry key="color2Green">0</entry>
<entry key="color7Blue">255</entry>
<entry key="colorOfChannel6Green">0</entry>
<entry key="colorOfChannel1Red">0</entry>
<entry key="colorOfChannel6Blue">128</entry>
<entry key="color3Green">0</entry>
<entry key="colorOfChannel2Red">128</entry>
<entry key="colorOfChannel3Red">0</entry>
<entry key="version">V. 0.25</entry>
<entry key="colorOfChannel0Green">0</entry>
<entry key="color10Red">255</entry>
<entry key="colorOfChannel4Red">255</entry>
<entry key="color11Red">255</entry>
<entry key="dynamicGrid">false</entry>
<entry key="colorOfChannel5Red">255</entry>
<entry key="color1Blue">0</entry>
<entry key="color12Red">128</entry>
<entry key="color12Green">128</entry>
<entry key="Rounder">100</entry>
<entry key="color10Blue">0</entry>
<entry key="colorOfChannel6Red">0</entry>
<entry key="colorOfChannel0Blue">255</entry>
<entry key="color13Red">233</entry>
<entry key="font0Height">24</entry>
<entry key="colorOfChannel7Red">128</entry>
<entry key="colorOfChannel7Green">0</entry>
<entry key="color14Red">212</entry>
<entry key="color6Blue">128</entry>
<entry key="color4Green">0</entry>
<entry key="color15Blue">200</entry>
<entry key="color15Red">200</entry>
<entry key="colorOfChannel5Blue">0</entry>
<entry key="colorOfChannel1Green">128</entry>
<entry key="programname">EKG-Editor</entry>
<entry key="color13Green">233</entry>
<entry key="ExternalProgram1">testit.bat</entry>
<entry key="automaticPlaySpeedInMs">8000</entry>
<entry key="color0Blue">255</entry>
<entry key="color0Red">255</entry>
<entry key="color5Green">128</entry>
<entry key="color1Red">255</entry>
<entry key="color5Blue">0</entry>
<entry key="colorOfChannel2Green">64</entry>
<entry key="font0Style">1</entry>
<entry key="color14Blue">212</entry>
<entry key="colorOfChannel4Blue">255</entry>
<entry key="color2Red">0</entry>
<entry key="color3Red">0</entry>
<entry key="color14Green">212</entry>
<entry key="color4Red">0</entry>
<entry key="lastDirectory">C:\</entry>
<entry key="color5Red">0</entry>
<entry key="color6Red">0</entry>
<entry key="color6Green">0</entry>
<entry key="color7Red">255</entry>
<entry key="font3Height">8</entry>
<entry key="gridSize">3</entry>
<entry key="colorOfChannel3Green">255</entry>
<entry key="font0Name">Arial</entry>
<entry key="color8Red">255</entry>
<entry key="color4Blue">0</entry>
<entry key="color13Blue">233</entry>
<entry key="color9Red">255</entry>
<entry key="colorOfChannel3Blue">255</entry>
<entry key="saveDirectory">C:\</entry>
<entry key="color15Green">200</entry>
<entry key="color9Blue">255</entry>
<entry key="color7Green">0</entry>
<entry key="color0Green">255</entry>
<entry key="colorOfChannel4Green">0</entry>
<entry key="color3Blue">0</entry>
<entry key="color12Blue">128</entry>
<entry key="colorOfChannel2Blue">64</entry>
<!--change to "true" if second-opinion-mode is required--> 
<entry key="secondOpinionMode">false</entry>
</properties>
